/***************************/
/********* Import **********/
/***************************/
/***************************/
/******** SASS vars ********/
/***************************/
/***************************/
/********* Element *********/
/***************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal\/profiles\/ottdoc_profile\/themes\/ottdoc_zen\/sass\/ottdoc_zen\.scss}line{font-family:\0000319}}
html, body {
  height: 100%;
  background-color: #f3f4f4;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal\/profiles\/ottdoc_profile\/themes\/ottdoc_zen\/sass\/ottdoc_zen\.scss}line{font-family:\0000323}}
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  line-height: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal\/profiles\/ottdoc_profile\/themes\/ottdoc_zen\/sass\/ottdoc_zen\.scss}line{font-family:\0000328}}
p, ul, ol {
  margin-top: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal\/profiles\/ottdoc_profile\/themes\/ottdoc_zen\/sass\/ottdoc_zen\.scss}line{font-family:\0000331}}
p, h1, h2, h3, h4, h5, h6 {
  line-height: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal\/profiles\/ottdoc_profile\/themes\/ottdoc_zen\/sass\/ottdoc_zen\.scss}line{font-family:\0000334}}
h1, h2, h3 {
  margin: 1em 0;
  font-weight: normal;
  text-transform: uppercase;
  color: #00a893;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal\/profiles\/ottdoc_profile\/themes\/ottdoc_zen\/sass\/ottdoc_zen\.scss}line{font-family:\0000340}}
a {
  text-decoration: none;
  color: #004292;
  border-bottom: 1px solid transparent;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal\/profiles\/ottdoc_profile\/themes\/ottdoc_zen\/sass\/ottdoc_zen\.scss}line{font-family:\0000344}}
a:hover, a:focus {
  border-bottom: 1px dotted #004292;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal\/profiles\/ottdoc_profile\/themes\/ottdoc_zen\/sass\/ottdoc_zen\.scss}line{font-family:\0000348}}
img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal\/profiles\/ottdoc_profile\/themes\/ottdoc_zen\/sass\/ottdoc_zen\.scss}line{font-family:\0000354}}
.placeholder {
  color: #aaa !important;
}

/***************************/
/****** Font Awesome *******/
/***************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal\/profiles\/ottdoc_profile\/themes\/ottdoc_zen\/sass\/ottdoc_zen\.scss}line{font-family:\0000361}}
.fa-comments-o {
  font-size: 4em;
  color: #7a7a7a;
}

/***************************/
/********* Region **********/
/***************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal\/profiles\/ottdoc_profile\/themes\/ottdoc_zen\/sass\/ottdoc_zen\.scss}line{font-family:\0000369}}
#page-top, #page {
  background-color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal\/profiles\/ottdoc_profile\/themes\/ottdoc_zen\/sass\/ottdoc_zen\.scss}line{font-family:\0000372}}
#page-top {
  margin-bottom: 28px;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal\/profiles\/ottdoc_profile\/themes\/ottdoc_zen\/sass\/ottdoc_zen\.scss}line{font-family:\0000375}}
#page-top .inside {
  position: relative;
  padding: 10px 0;
  height: 60px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal\/profiles\/ottdoc_profile\/themes\/ottdoc_zen\/sass\/ottdoc_zen\.scss}line{font-family:\0000382}}
#page {
  position: relative;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal\/profiles\/ottdoc_profile\/themes\/ottdoc_zen\/sass\/ottdoc_zen\.scss}line{font-family:\0000386}}
.region-top {
  height: 100%;
  font-size: 1.5em;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal\/profiles\/ottdoc_profile\/themes\/ottdoc_zen\/sass\/ottdoc_zen\.scss}line{font-family:\0000391}}
#main {
  margin: 0 0 12px;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal\/profiles\/ottdoc_profile\/themes\/ottdoc_zen\/sass\/ottdoc_zen\.scss}line{font-family:\0000395}}
#content {
  padding: 15px;
  font-size: 1.3em;
}

/***************************/
/********** Panel **********/
/***************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal\/profiles\/ottdoc_profile\/themes\/ottdoc_zen\/sass\/ottdoc_zen\.scss}line{font-family:\00003104}}
.page-panels #content {
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal\/profiles\/ottdoc_profile\/themes\/ottdoc_zen\/sass\/ottdoc_zen\.scss}line{font-family:\00003108}}
.panel-display .cityott-two-doc-top, .panel-display .cityott-two-doc-bottom {
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal\/profiles\/ottdoc_profile\/themes\/ottdoc_zen\/sass\/ottdoc_zen\.scss}line{font-family:\00003113}}
.cityott-two-doc-top .inside {
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal\/profiles\/ottdoc_profile\/themes\/ottdoc_zen\/sass\/ottdoc_zen\.scss}line{font-family:\00003116}}
.cityott-two-doc-top .pane-ottdoc-companion-prev-page-link {
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal\/profiles\/ottdoc_profile\/themes\/ottdoc_zen\/sass\/ottdoc_zen\.scss}line{font-family:\00003121}}
.cityott-two-doc-bottom .inside {
  padding-top: 10px;
  padding-bottom: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal\/profiles\/ottdoc_profile\/themes\/ottdoc_zen\/sass\/ottdoc_zen\.scss}line{font-family:\00003128}}
.panel-display .panel-panel .inside {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal\/profiles\/ottdoc_profile\/themes\/ottdoc_zen\/sass\/ottdoc_zen\.scss}line{font-family:\00003132}}
.panel-display .cityott-two-doc-upper {
  margin: 40px 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal\/profiles\/ottdoc_profile\/themes\/ottdoc_zen\/sass\/ottdoc_zen\.scss}line{font-family:\00003136}}
.panel-display .cityott-two-doc-right .pane-block {
  margin-bottom: 1em;
  padding: 10px;
  color: #fff;
  background-color: #004292;
  overflow: hidden;
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal\/profiles\/ottdoc_profile\/themes\/ottdoc_zen\/sass\/ottdoc_zen\.scss}line{font-family:\00003142}}
.panel-display .cityott-two-doc-right .pane-block h2.pane-title {
  margin-top: 0;
  font-weight: normal;
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal\/profiles\/ottdoc_profile\/themes\/ottdoc_zen\/sass\/ottdoc_zen\.scss}line{font-family:\00003147}}
.panel-display .cityott-two-doc-right .pane-block .block-field {
  margin: 0 0 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal\/profiles\/ottdoc_profile\/themes\/ottdoc_zen\/sass\/ottdoc_zen\.scss}line{font-family:\00003150}}
.panel-display .cityott-two-doc-right .pane-block .button {
  float: left;
  display: block;
  padding: 5px;
  background-color: #fff;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal\/profiles\/ottdoc_profile\/themes\/ottdoc_zen\/sass\/ottdoc_zen\.scss}line{font-family:\00003158}}
.panel-display .cityott-two-doc-right .pane-block .button:hover, .panel-display .cityott-two-doc-right .pane-block .button:focus {
  text-decoration: underline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal\/profiles\/ottdoc_profile\/themes\/ottdoc_zen\/sass\/ottdoc_zen\.scss}line{font-family:\00003165}}
.panel-display .pane-node-title h1 {
  margin: 20px 0;
  font-size: 2.8em;
  font-weight: normal;
}

/***************************/
/*********** IE8 ***********/
/***************************/
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal\/profiles\/ottdoc_profile\/themes\/ottdoc_zen\/sass\/ottdoc_zen\.scss}line{font-family:\00003177}}
#search-form .form-item-custom-search-blocks-form-1 input {
  line-height: 37px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/www\/html\/drupal\/profiles\/ottdoc_profile\/themes\/ottdoc_zen\/sass\/ottdoc_zen\.scss}line{font-family:\00003180}}
#search-form .form-actions input {
  z-index: 50;
  zoom: 1;
}
