/* Fix the positioning problem with navigation since we are
 * using it for the search bar rather than a menu.
 */

#main {
  padding-top: 0;
}

#navigation {
  position: static;
  height: 5em;
}

@media (min-width: 480px) {
  #main {
    padding-top: 0;
  }

  #navigation {
    position: static;
    height: 5em;
  }
}
