/***************************/
/********* Import **********/
/***************************/
@import 'compass';

/***************************/
/******** SASS vars ********/
/***************************/
$blue: #004292;
$green: #00a893;
$primary: $blue;
$secondary: $green;
$footer: #414141;
$bg: #f3f4f4;

/***************************/
/********* Element *********/
/***************************/
html, body {
  height: 100%;
  background-color: $bg;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  line-height: normal;
}
p, ul, ol {
  margin-top: 0;
}
p, h1, h2, h3, h4, h5, h6 {
  line-height: normal;
}
h1, h2, h3 {
  margin: 1em 0;
  font-weight: normal;
  text-transform: uppercase;
  color: $secondary;
}
a {
  text-decoration: none;
  color: $primary;
  border-bottom: 1px solid transparent;
  &:hover, &:focus {
    border-bottom: 1px dotted $primary;
  }
}
img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.placeholder {
  color: #aaa !important;
}

/***************************/
/****** Font Awesome *******/
/***************************/
.fa-comments-o {
  font-size: 4em;
  color: #7a7a7a;
}

/***************************/
/********* Region **********/
/***************************/
#page-top, #page {
  background-color: #fff;
}
#page-top {
  margin-bottom: 28px;
  width: 100%;
  .inside {
    position: relative;
    padding: 10px 0;
    height: 60px;
    @include box-sizing(border-box);
  }
}
#page {
  position: relative;
  @include box-shadow(0 0 10px rgba(0,0,0,0.5));
}
.region-top {
  height: 100%;
  font-size: 1.5em;
  text-align: center;
}
#main {
  margin: 0 0 12px;
  padding: 0;
}
#content {
  padding: 15px;
  font-size: 1.3em;
}


/***************************/
/********** Panel **********/
/***************************/
.page-panels #content {
  padding: 0;
}
.panel-display {
  .cityott-two-doc-top, .cityott-two-doc-bottom {
    width: 100%;
  }
}
.cityott-two-doc-top {
  .inside {
    padding: 0;
  }
  .pane-ottdoc-companion-prev-page-link {
    overflow: hidden;
  }
}
.cityott-two-doc-bottom {
  .inside {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.panel-display {
  .panel-panel {
    .inside {
      margin: 0;
    }
  }
  .cityott-two-doc-upper {
    margin: 40px 0 0;
  }
  .cityott-two-doc-right {
    .pane-block {
      margin-bottom: 1em;
      padding: 10px;
      color: #fff;
      background-color: $primary;
      @include clearfix;
      h2.pane-title {
        margin-top: 0;
        font-weight: normal;
        color: #fff;
      }
      .block-field {
        margin: 0 0 1em;
      }
      .button {
        float: left;
        display: block;
        padding: 5px;
        background-color: #fff;
        border: none;
        @include appearance(none);
        @include border-radius(5px);
        &:hover, &:focus {
          text-decoration: underline;
        }
      }
    }
  }
  .pane-node-title {
    h1 {
      margin: 20px 0;
      font-size: 2.8em;
      font-weight: normal;
    }
  }
}

/***************************/
/*********** IE8 ***********/
/***************************/
#search-form {
  .form-item-custom-search-blocks-form-1 input {
    line-height: 37px;
  }
  .form-actions input {
    z-index: 50;
    zoom: 1;
  }
}
