/***************************/
/********* Import **********/
/***************************/
@import 'compass';

/***************************/
/******** SASS vars ********/
/***************************/
$blue: #004292;
$green: #00a893;
$primary: $blue;
$secondary: $green;
$footer: #414141;
$bg: #f3f4f4;

/***************************/
/********* Element *********/
/***************************/
html, body {
  height: 100%;
  background-color: $bg;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  line-height: normal;
}
p, ul, ol {
  margin-top: 0;
}
p, h1, h2, h3, h4, h5, h6 {
  line-height: normal;
}
h1, h2, h3 {
  margin: 1em 0;
  font-weight: normal;
  text-transform: uppercase;
  color: $secondary;
}
a {
  text-decoration: none;
  color: $primary;
  border-bottom: 1px solid transparent;
  &:hover, &:focus {
    border-bottom: 1px dotted $primary;
  }
}
img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.placeholder {
  color: #aaa !important;
}

/***************************/
/****** Font Awesome *******/
/***************************/
.fa-comments-o {
  font-size: 4em;
  color: #7a7a7a;
}

/***************************/
/********* Region **********/
/***************************/
#page-top, #page {
  background-color: #fff;
}
#page-top {
  margin-bottom: 28px;
  width: 100%;
  .inside {
    position: relative;
    padding: 10px 0;
    height: 60px;
    @include box-sizing(border-box);
  }
}
#page {
  position: relative;
  @include box-shadow(0 0 10px rgba(0,0,0,0.5));
}
.region-top {
  height: 100%;
  font-size: 1.5em;
  text-align: center;
  .block-menu {
    ul.menu {
      padding: 13px 0 0;
      li {
        margin: 0 25px 0 0;
        padding: 0 25px 0 0;
      }
    }
  }
}
#main {
  margin: 0 0 12px;
  padding: 0;
}
#content {
  padding: 15px;
  font-size: 1.3em;
}
#footer {
  padding: 0;
  .footer-inside {
    padding: 3px 0 8px;
    font-size: 1.3em;
    color: #fff;
    background-color: $footer;
    text-align: center;
    p {
      margin: 0;
    }
    a {
      color: #fff;
      &:hover, &:focus {
        border-color: #fff;
      }
    }
    .block {
      margin: 0 0 3px;
    }
    .block-menu {
      ul.menu {
        li {
          margin: 0 5px 0 0;
          padding: 0 8px 0 0;
          line-height: 2em;
          border-color: #fff;
          a {
            color: #fff;
          }
        }
      }
    }
  }
}

/***************************/
/********** Panel **********/
/***************************/
.page-panels #content {
  padding: 0;
}
.panel-display {
  .cityott-two-doc-top, .cityott-two-doc-bottom {
    width: 100%;
  }
}
.cityott-two-doc-top {
  .inside {
    padding: 0;
  }
  .pane-ottdoc-companion-prev-page-link {
    overflow: hidden;
  }
}
.cityott-two-doc-bottom {
  .inside {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.panel-display {
  .panel-panel {
    .inside {
      margin: 0;
    }
  }
  .cityott-two-doc-upper {
    margin: 40px 0 0;
  }
  .cityott-two-doc-right {
    .pane-block {
      margin-bottom: 1em;
      padding: 10px;
      color: #fff;
      background-color: $primary;
      @include clearfix;
      h2.pane-title {
        margin-top: 0;
        font-weight: normal;
        color: #fff;
      }
      .block-field {
        margin: 0 0 1em;
      }
      .button {
        float: left;
        display: block;
        padding: 5px;
        background-color: #fff;
        border: none;
        @include appearance(none);
        @include border-radius(5px);
        &:hover, &:focus {
          text-decoration: underline;
        }
      }
    }
  }
  .pane-node-title {
    h1 {
      margin: 20px 0;
      font-size: 2.8em;
      font-weight: normal;
    }
  }
}

/***************************/
/********** Beans **********/
/***************************/
.bean-basic-bean {
  position: relative;
  margin: 0 0 20px;
}
.cityott-two-doc-bottom .pane-bean p {
  margin-top: 0;
}
.panel-pane.pane-bean-send-feedback {
  padding: 0;
  color: #7a7a7a;
  @include clearfix;
  .basic-bean-left {
    position: absolute;
    top: -7px;
    left: 0;
  }
  .basic-bean-right {
    margin-left: 62px;
    overflow: hidden;
  }
  .feedback-button {
    float: left;
    display: block;
    margin-top: -1em;
    padding: 7px 30px;
    text-align: center;
    color: #fff;
    background-color: $primary;
    @include border-radius(5px);
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}
.panel-pane.pane-bean-in-my-neighbourhood {
  padding: 0;
  min-height: 82px;
  color: #7a7a7a;
  background: url('../images/youth-portal-footer-map.png') no-repeat 0 0;
  a.container-link {
    display: block;
    padding-left: 121px;
    color: #7a7a7a;
    border: none;
  }
  h2.neighbourhood-title {
    margin: 0 0 20px;
    font-size: 1em;
    font-weight: bold;
    color: $secondary;
    .underline {
      padding: 0 0 5px;
      border-bottom: 2px solid $primary;
    }
  }
}

/***************************/
/********* Content *********/
/***************************/
.block-menu {
  padding: 0;
  ul.menu {
    margin: 0;
    padding: 0;
    li {
      display: inline;
      list-style: none;
      border-right: 1px solid #000;
      &.last {
        margin-right: 0;
        padding-right: 0;
        border: none;
      }
      a {
        color: #000;
        &:hover, &:focus {
          border-color: #000;
        }
      }
    }
  }
}
#top-logo {
  height: 100%;
  border: none;
}
#block-ottdoc-companion-lang-extra-links {
  padding-top: 4px;
  .inside {
    float: right;
    ul li a {
      font-size: 0.85em;
      color: #47545b;
      &:hover, &:focus {
        border-color: #47545b;
      }
    }
  }
  .block-field-top-sub-menu {
    float: left;
    ul.menu {
      margin: 0;
      padding: 0;
      li {
        display: inline;
        margin: 0 15px 0 0;
        padding: 0 15px 0 0;
        border-right: 1px solid #666;
        list-style: none;
      }
    }
  }
  .block-field-lang-block {
    float: left;
    ul.language-switcher-locale-url {
      margin: 0;
      padding: 0;
      li {
        display: inline;
        list-style: none;
        &.active {
          display: none;
        }
      }
    }
  }
}
.sticky-wrapper {
  height: 55px;
  .inside {
    margin: 0;
  }
}
.block-field-prev-page-link a {
  position: relative;
  display: block;
  margin: 0 0 0 15px;
  padding: 0 10px 0 0;
  height: 55px;
  font-size: 1.5em;
  line-height: 55px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  background-color: $primary;
  border: none;
  @include transition(background-color, 1s);
  &:after {
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -28px;
    content: " ";
    width: 0;
    height: 0;
    border: solid transparent;
    border-right-color: $primary;
    border-width: 28px;
    border-right-width: 15px;
    pointer-events: none;
    @include transition(border-right-color, 1s);
  }
  &:hover, &:focus {
    background-color: darken($primary, 10%);
    &:after {
      border-right-color: darken($primary, 10%);
    }
  }
}
#search-form {
  position: relative;
  .custom_search-popup {
    display: none;
  }
  .form-item-custom-search-blocks-form-1 {
    position: relative;
    display: block;
    margin: 0;
    padding: 9px 55px 9px 9px;
    height: 55px;
    background-color: $primary;
    @include box-sizing(border-box);
    label {
      position: absolute;
      display: block;
      width: auto;
      height: auto;
      overflow: visible;
      clip: rect(1px 1px 1px 1px);
      zoom: 1;
    }
    input {
      padding: 0 10px;
      width: 100%;
      height: 100%;
      font-size: 1.5em;
      line-height: normal;
      color: #333;
      background-color: #fff;
      border: none;
      @include box-sizing(border-box);
    }
  }
  .form-actions {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    overflow: hidden;
    input {
      display: block;
      margin: 0;
      padding: 0;
      width: 55px;
      height: 55px;
      font-size: 0;
      color: transparent;
      text-align: right;
      background-color: $primary;
      background: url('../images/mag-glass.png') no-repeat center center;
      border: none;
      white-space: nowrap;
      text-indent: 100%;
      overflow: hidden;
      @include transition(background-color, 1s);
      &:hover, &:focus {
        background-color: darken($primary, 10%);
      }
    }
  }
}
#page-title {
  margin: 1em 0;
}
.field-name-body {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
.field-name-field-document {
  .field-item {
    margin: 0;
    padding: 5px 10px;
    line-height: 20px;
    @include clearfix;
    &.even {
      background-color: lighten($primary, 65%);
      background-color: transparentize($primary, 0.9);
    }
    &.odd {
      background-color: lighten($secondary, 65%);
      background-color: transparentize($secondary, 0.9);
    }
    .custom-document-format {
      float: left;
      margin: 5px 0;
      padding: 5px 0;
      img {
        vertical-align: top;
      }
    }
    span {
      white-space: nowrap;
    }
    .file-accessible, .file-archived {
      margin: 0 10px;
      padding: 3px 8px;
      font-size: 0.85em;
      color: #fff;
      background-color: $footer;
      vertical-align: top;
      @include border-radius(5px);
    }
  }
}
.field-name-field-link-to-accessible-page {
  float: left;
  margin: 5px;
  .field-item {
    padding: 0;
    @include border-radius(5px);
    a {
      display: block;
      padding: 5px;
      line-height: 19px;
      border: none;
      &:hover, &:focus {
        text-decoration: underline;
      }
    }
  }
}
.footnotes {
  margin: 20px 0;
  font-size: 0.85em;
  color: lighten(#000, 35%);
}

/***************************/
/********** Front **********/
/***************************/
.front {
  .field-name-body {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
}

/***************************/
/********** Admin **********/
/***************************/
.contextual-links-wrapper {
  a {
    border-bottom: none;
    &.contextual-links-trigger {
      text-indent: 100%;
      white-space: nowrap;
    }
  }
}
.tabs {
  a:hover, a:focus {
    border-bottom: none;
  }
}

/***************************/
/*********** IE8 ***********/
/***************************/
#search-form {
  .form-item-custom-search-blocks-form-1 input {
    line-height: 37px;
  }
  .form-actions input {
    z-index: 50;
    zoom: 1;
  }
}
