/********** Imports **********/
/* line 5, ../sass/cityott_two_doc.scss */
.panel-panel,
.center-wrapper {
  margin: 0 0 10px;
  clear: both;
}

/* line 9, ../sass/cityott_two_doc.scss */
.cityott-two-doc-left,
.cityott-two-doc-right {
  float: left;
  width: 50%;
  clear: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 15, ../sass/cityott_two_doc.scss */
.cityott-two-doc-left {
  padding-right: 10px;
}

/* line 18, ../sass/cityott_two_doc.scss */
.cityott-two-doc-right {
  padding-left: 10px;
}
